body {
  background-color: cadetblue;
  background-position: center;
  background-image: url(OIP.jpg);
  background-size: cover;
  text-align: center;
  margin: 5px;
  font-weight: bold;
  font: size 2em;
}


.botones{
  background-color: #00bbd0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor:pointer;
}

#info {
  text-align: center;
  font-size: 1.2em;
  margin: 20px;
}


